<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>計算結果と判定</title>
    <link rel="stylesheet" href="/static/markdown7.css" type="text/css" />
  </head>
  <body>
    <h2>BMI値をけいさんしました</h2>
    <h3>けっかです</h3>
    <table>
      <thead>
        <tr>
          <th>BMI値</th>
          <th>はんてい</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ out_bmi }}</td>
          <td>{{ out_result }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
